<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.mini.soyg.likeIt.service.likeIt-mapper">

<!-- 좋아요 클릭 시 likeit table에 정보 등록 -->
<insert id="likeItUpdate" parameterType="co.mini.soyg.main.vo.MainVO">
	insert into likeIT values(#{userId}, #{class_code}, 'Y')
</insert>

<!-- 좋아요 개수 카운트 -->
<select id="likeItCount" resultType="co.mini.soyg.likeIt.vo.LikeItVO" parameterType="co.mini.soyg.likeIt.vo.LikeItVO">
	select count(case when like_check = 'Y' then 1 end) from likeIT where class_code = #{class_code};
</select>

</mapper>