<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.mini.soyg.study.serviceImpl.Study-mapper">

	<!-- 중복확인 -->
	<select id="studySelectList" resultType="co.mini.soyg.study.vo.StudyVO">
		SELECT * FROM class
	</select>

	<select id="studySelect" parameterType="Integer"
		resultType="co.mini.soyg.study.vo.StudyVO">
		select * from class where class_code = #{classCode}
	</select>
</mapper>